# Binary files
*.xlsx
*.docx
*.pdf

# Diagram files
*.drawio
*.drawio.bkp

# Text files (note)
business-rule.txt

# OTher code file
*.cpp

# Executable file
*.exe

# Specific filename
indexORIbkp.html