@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Initialize CSS */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: "Roboto", serif;
}
@media screen and (max-width: 320px) {
    .mobile-s320{
        display: initial;
    }

    body{
        background: linear-gradient(#0574E5, #02107B);
        min-height: 100vh;
        min-width: 100vw;
    }

    .body-grid{
        display: grid;
        grid-template-rows: 45.625vw 80vw 45.625vw;
        min-height: 100vh;
        max-width: 100vw;
        place-items: center;
    }

    .top-grid{
        display: grid;
        grid-template-rows: 9.0625vw 9.0625vw 18.125vw 9.0625vw;
        min-width: 100vw;
        min-height: 100%;
        place-items: center;
    }

    h1 > span > svg{
        width: 1.375rem;
        height: 1.375rem;
        animation: rotate 5s linear infinite;
        fill: #FFFFFF;
    }

    @keyframes rotate {
        from {transform: rotate(0);}
        to {transform: rotate(360deg);}
    }

    h1{
        font-size: 2.5rem;
        font-weight: 700;
        color: #FFFFFF;
    }

    .top-grid > div > p{
        color: #FFFFFF;
    }

    .middle-grid{
        display: grid;
        grid-template-rows: 75vw 5vw;
        min-width: 80vw;
        min-height: 100%;
        background-color: #FFFFFF;
        border-radius: 1rem;
        overflow: hidden;
        place-content: center;
    }

    form{
        display: grid;
        grid-template-rows: 20vw 20vw 20vw 15vw;
        place-items: center;
    }

    .form-div{
        display: grid;
        place-items: center;
        min-width: 100%;
        min-height: 100%;
    }

    .icon{
        height: 2rem;
        width: 2rem;
        display: inline-block;
        vertical-align: middle;
        margin: 0.5rem;
    }

    .first > p{
        font-weight: 700;
    }

    .form-input{
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 60vw;
        height: 10vw;
        border-radius: 10vw;
        padding-left: 0.875rem;
    }

    ::placeholder{
        color: rgba(0, 0, 0, 0.1);
    }

    .form-button{
        border: none;
        background-color: #0573E4;
        color: #FFFFFF;
        width: 60vw;
        height: 10vw;
        border-radius: 10vw;
    }

    .middle-grid-bottom{
        display: flex;
        font-size: 0.75rem;
        justify-content: space-around;
    }

    .bottom-grid{
        display: grid;
        grid-template-rows: 22.8125vw 22.8125vw;
        min-width: 100%;
        min-height: 100%;
        font-size: 0.75rem;
        color: #FFFFFF;
    }

    .bottom-grid-top{
        place-self: center;
    }

    .my-name{
        font-weight: 700;
    }

    .profile-page{
        display: flex;
        justify-content: space-evenly;
    }

    .need-access-message-320px{
        display: none;
        grid-template-rows: 62.5vw 17.5vw;
        place-items: center;
        padding: 0 10vw;
        border-radius: 1rem;
        position: fixed;
        background-color: #FFFFFF;
        font-size: 0.625rem;
        text-align: center;
        margin: 45.625vw 10vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .need-access-message-320px-button-container{
        display: flex;
        justify-content: space-between;
        width: 60vw;
    }

    .need-access-message-320px-button{
        width: 25vw;
        height: 10vw;
        border-radius: 10vw;
        justify-items: space-between;
        background-repeat: #D9D9D9;
    }

    .need-access-message-320px-button > a{
        text-decoration: none;
        color: #FFFFFF;
    }

    .need-access-message-320px-button.proceed{
        background-color: #0573E4;
    }
}