@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

* {
    font-family: "Roboto", serif;
    margin: 0;
}

body{
    background: linear-gradient(#E50505, #3C0A0A);
}

.credit{
    display: grid;
    grid-template-rows: 7vh 7vh;
    justify-items: center;
    align-items: start;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 5vw;
    color: #FFF;
}

.credit > div > a > svg{
    width: 7.5vw;
    height: 7.5vw;
    fill: #FFF;
    margin: 0 5vw;
}

.body-container{
    display: grid;
    grid-template-rows: 25vh 75vh;
    width: 100vw;
}

.system-name{
    display: grid;
    grid-template-rows: 50% 50%;
    width: 100vw;
    justify-items: center;
    color: #FFF;
}

.system-name-first{
    align-self: end;
}

.system-name-last{
    align-self: start;
    font-size: 6.5625vw;
}

h1{
    font-size: 13.4375vw;
    font-weight: 700;
}

h1 > span > svg{
    width: 7.5vw;
    height: 7.5vw;
    fill: #FFF;
}

.body-container-last{
    display: grid;
    justify-content: center;
}

.form-container{
    display: grid;
    justify-content: center;
    background-color: #FFF;
    width: 80vw;
    height: 50vh;
    border-radius: 10vw;
}

form{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    place-items: center;
}

h2{
    font-size: 7.5vw;
    font-weight: 700;
}

input{
    width: 60vw;
    height: 5vh;
    padding-left: 5vw;
    border: 1px solid #D5D5D5;
    border-radius: 5vw;
    font-size: 5vw;
}

::placeholder{
    color: rgba(0, 0, 0, 0.1);
}

input[type="submit"]{
    padding: 0;
    border: none;
    background-color: #E50505;
    color: #FFF;
}

@media screen and (min-width: 1024px) and (min-height: 768px) {
    .body-container{
        grid-template-columns: 50vw 50vw;
        height: 100vh;
    }
    
    .system-name{
        display: grid;
        grid-template-rows: 50% 50%;
        width: 100vw;
        justify-items: center;
        color: #FFF;
    }
    
    .system-name-first{
        align-self: end;
    }
    
    .system-name-last{
        align-self: start;
        font-size: 6.5625vw;
    }
    
    h1{
        font-size: 13.4375vw;
        font-weight: 700;
    }
    
    h1 > span > svg{
        width: 7.5vw;
        height: 7.5vw;
        fill: #FFF;
    }
    
    .body-container-last{
        display: grid;
        justify-content: center;
    }
    
    .form-container{
        display: grid;
        justify-content: center;
        background-color: #FFF;
        width: 80vw;
        height: 50vh;
        border-radius: 10vw;
    }
    
    form{
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        place-items: center;
    }
    
    h2{
        font-size: 7.5vw;
        font-weight: 700;
    }
    
    input{
        width: 60vw;
        height: 5vh;
        padding-left: 5vw;
        border: 1px solid #D5D5D5;
        border-radius: 5vw;
        font-size: 5vw;
    }
    
    ::placeholder{
        color: rgba(0, 0, 0, 0.1);
    }
    
    input[type="submit"]{
        padding: 0;
        border: none;
        background-color: #E50505;
        color: #FFF;
    }
}