@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

* {
    font-family: "Roboto", serif;
    margin: 0;
}

@media screen and (orientation: portrait) {
    body{
        background: linear-gradient(#E50505, #3C0A0A);
    }

    .mobile-container{
        display: none;
        grid-template-columns: 100vw;
        grid-template-rows: 25vh 50vh 25vh;
        width: 100vw;
        height: 100vh;
    }

    .top-grid{
        display: grid;
        color: #FFFFFF;
        justify-items: center;
        grid-template-columns: 100vw;
        grid-template-rows: 50% 50%;
        width: 100vw;
    }

    h1{
        font-size: 2.6875rem;
        font-weight: 700;
    }

    h1 > span > svg{
        width: 1.5rem;
        height: 1.5rem;
        fill: #FFFFFF;
    }

    .top-grid-first{
        align-self: end;
    }

    .top-grid-last{
        align-self: start;
        font-size: 1.3125rem;
    }

    .middle-grid{
        display: grid;
        justify-content: center;
    }

    .form-container{
        display: grid;
        height: 100%;
        width: 80vw;
        background: #FFFFFF;
        border-radius: 10vw;
    }

    form{
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        justify-items: center;
        align-items: center;
    }

    form > div > input{
        border-radius: 5vw;
        border: 1px solid #D5D5D5;
        width: 60vw;
        height: 5vh;
        padding-left: 5vw;
    }

    .form-button{
        padding: 0;
        border: none;
        background-color: #E50505;
        color: #FFFFFF;
    }

    ::placeholder{
        color: rgba(0, 0, 0, 0.1);
    }

    h2{
        font-size: 1.5rem;
        font-weight: 700;
    }

    .bottom-grid{
        display: grid;
        width: 100vw;
        height: 100%;
        grid-template-rows: 50% 50%;
        color: #FFFFFF;
        justify-content: center;
        justify-items: center;
    }

    .bottom-grid-first{
        display: grid;
        align-content: center;
    }

    .bottom-grid-last > a > svg{
        width: 1.25rem;
        height: 1.25rem;
        fill: #FFFFFF;
    }

    .linkedin{
        padding: 0;
        border: 0;
        margin: 0 5vw 0 0;
    }

    .github{
        padding: 0;
        border: 0;
        margin: 0 0 0 5vw;
    }

    @media screen and (min-width: 481px) and (max-width: 1025px) {
        h1{
            font-size: 5rem;
        }

        h1 > span > svg{
            width: 3rem;
            height: 3rem;
        }

        .top-grid-last{
            font-size: 2rem;
        }

        h2{
            font-size: 3.125rem;
        }

        form > div > input{
            width: 50vw;
            height: 7vh;
            font-size: 2rem;
        }

        .bottom-grid-first{
            display: grid;
            align-content: center;
            font-size: 2rem;
        }

        .bottom-grid-last > a > svg{
            width: 3rem;
            height: 3rem;
            fill: #FFFFFF;
        }
    }
}

@media screen and (orientation: landscape) {
    @media screen and (min-width: 1024px) {
        body{
            background: #FFFFFF;
        }

        .left{
            display: grid;
            grid-template-rows: 50% 50%;
            width: 100%;
            height: 100vh;
        }

        h1{
            font-size: 6rem;
            font-weight: 700;
            color: #FFFFFF;
        }

        h1 > span > svg{
            width: 3.375rem;
            height: 3.375rem;
            fill: #FFFFFF;
        }
    }
}